.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found {
  height: 400px;
  width: 600px;
}

.page-not-found {
  color: #183b56;
}

.description {
  color: #5a7184;
}
